@page
@model WebApp.Pages.Detalle.GridModel
@{
    ViewData["Title"] = "Listado Detalles";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            Detalle
        </div>
        <div class="card-body">
            <a class="btn btn-primary" asp-page="Edit">
                <i class='bx bxs-add-to-queue'></i>
            </a>
            <div class="row">
                <div class="col-12">
                    <table id="GridView" class="table table-bordered table table-striped table table-hover">
                        <thead>
                            <tr>
                                <th>Numero de Pedido</th>
                                <th>Codigo Producto</th>
                                <th>Cantidad</th>
                                <th>Envio</th>
                                <th>Sub Total</th>
                                <th>IVA</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tboby>
                            @foreach (var item in Model.GridList)
                            {
                            <tr>
                                <td>@item.IdPedido</td>
                                <td>@item.Produc.IdProducto</td>
                                <td>@item.Cantidad</td>
                                <td>@item.Envio</td>
                                <td>@item.SubTotal</td>
                                <td>@item.IVA</td>
                                <td>@item.Total</td>
                                <td>
                                    <a class="btn btn-primary" asp-page="Edit" asp-route-id="@item.IdPedido"><i class='bx bx-edit-alt'></i></a>
                                    <button type="button" class="btn btn-danger" onclick="DetalleGrid.OnClickEliminar(@item.IdPedido)">
                                        <i class='bx bx-trash'></i>
                                    </button>
                                </td>
                            </tr>
                            }
                        </tboby>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script defer src="~/App/Detalle/Grid.js"></script>
}